{% extends "layouts/default.html" %}

{% set title = error_404.title %}
{% set crumb = "~/" ~ page %}
{% set prompt = "mv . /dev/null" %}
{% set description = error_404.description %}

{%- block meta %}
    <meta name="robots" content="noindex, follow, noarchive">
    <meta name="description" content="{{ description }}">
    <meta property="og:type" content="website">
{%- endblock %}

{% block main %}
    <article class="below-header">
        <h1>{{ error_404.title }}</h1>
        <p>{{ error_404.content }}</p>
        <div>
            <a href="{{ lang }}/" target="_self">{{ back_home }}</a>
        </div>
    </article>
{% endblock %}
