{% extends "layouts/default.html" %}

{% set title = imprint.title %}
{% set crumb = imprint.crumb %}
{% set description = imprint.description %}

{% block meta %}
    <meta name="robots" content="noindex, nofollow">
    <meta property="og:type" content="article">
    <meta property="article:published_time" content="2023-12-20T20:00+02:00">
    <meta property="article:modified_time" content="{{ compiletime }}">
    <meta property="article:author" content="https://ges.dev/{{ lang }}/">
    <meta property="article:publisher" content="https://ges.dev/">
    <meta property="article:section" content="{{ imprint.alias }}">
{%- endblock %}

{% block main %}
    <article class="below-header legal-container">
        <h1>{{ imprint.alias }}</h1>
        <article>
            <h2>{{ imprint.p5tmg }}</h2>
            <address>
                {% include "components/address.html" %}
            </address>
            <p>{{ imprint.editor }}</p>
        </article>
        <article>
            <h2><a href="{{ lang }}/{{ page }}#contact">{{ imprint.contact }}</a></h2>
            <a id="contact" class="anchor" href="{{ lang }}/{{ page }}#contact">{{ imprint.contact }}</a>
            <address class="labeled-lines">
                <span>{{ tel }}:</span><a href="{{ lang }}/{{ page }}#contact" data-tt="2415297185394" rel="{{ anorel }}" data-discombobulate="{{ env['SUBJECT_PHONE_NUMBER'] | b64encode }}">{{ enable_js }}</a>
                <span>{{ email }}:</span><a href="{{ lang }}/{{ page }}#contact" data-mt="eric" rel="{{ anorel }}" data-discombobulate="ZTxzcGFuIGNsYXNzPSJtaXJyb3IiPmlyPC9zcGFuPmM8c3BhbiBjbGFzcz0ibWF0Ij48L3NwYW4+PHNwYW4gY2xhc3M9Im1pcnJvciI+ZWc8L3NwYW4+czxzcGFuPi48L3NwYW4+PHNwYW4gY2xhc3M9Im1pcnJvciI+ZWQ8L3NwYW4+dg">{{ enable_js }}</a>
            </address>
        </article>
        <article>
            <h2>{{ imprint.disputes }}</h2>
            <p>
                {{ imprint.os }}
                <br><a href="https://ec.europa.eu/consumers/odr/" target="_blank" rel="{{ anorel }}">https://ec.europa.eu/consumers/odr/</a>
            </p>
            <p>{{ imprint.nodispute }}</p>
        </article>
        <article>
            <h2>{{ imprint.disclaimer_headline }}</h2>
            <p>{{ imprint.disclaimer }}</p>
        </article>
    </article>
{% endblock %}
