{% extends "layouts/default.html" %}

{% set title = index.title %}
{% set crumb = "~" %}

{%- block meta %}
    <meta name="robots" content="index, follow, noarchive">
    <meta name="description" content="{{ default.description }}">
    <meta name="keywords" content="{{ default.keywords }}">
    <meta property="og:type" content="profile">
    <meta property="profile:first_name" content="Eric">
    <meta property="profile:last_name" content="Gesemann">
    <meta property="profile:username" content="eges">
    <meta property="profile:gender" content="male">
{%- endblock %}

{% block main %}
    <section class="intro-section">
        <div class="intro-container">
            <div class="intro-hero">
                <div class="intro-heading">
                    <a id="home" href="#home" class="anchor anchor--home" rel="bookmark" title="{{ index.intro.anchor }}" aria-hidden="true">{{ index.intro.anchor }}</a>
                    <h1 class="intro-title">
                        <small class="intro-greeting">{{ index.intro.greeting }}</small>
                        <br><span class="intro-name"><span class="intro-fname">Eric</span> <span
                            class="intro-sname">Gese<span class="color-dust">&shy;</span><span class="no-wrap-s">mann<span
                            class="intro-dot"></span></span></span></span><span class="screenreader">!</span>
                    </h1>
                </div>
                <img src="{{ "media/images/eric.svg"|mix }}" width="500" height="727" class="intro-img" alt="a vectorized image of me" draggable="false" aria-hidden="true">
            </div>
            <p class="intro-teaser">{{ index.intro.text }}</p>
        </div>
    </section>
    <section class="span-feature grid progress-card">
        <a id="whois" href="#whois" class="anchor" rel="bookmark" title="{{ index.progress.anchor }}" aria-hidden="true">{{ index.progress.anchor }}</a>
        <article class="no-fold">
            <h2 class="title">{{ index.progress.title }}</h2>
            <p>{{ index.progress.p1 }}</p>
            <p>{{ index.progress.p2 }}</p>
            <p>{{ index.progress.p3 }}</p>
            <p>{{ index.progress.p4 }}</p>
        </article>
    </section>
    <section class="linkedin-section">
        <a href="https://www.linkedin.com/in/eric-gesemann" target="_blank" rel="external noopener" title="{{ index.linkedin.anchor }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="190" height="48" viewBox="0 0 190 48" aria-label="{{ index.linkedin.anchor }}">
                <path d="M58,27.22V41H51V28.88c0-3.7-2.07-5.24-4-5.24a5,5,0,0,0-5.14,4.85,4.34,4.34,0,0,0,0,.51V41H35V18h6.6v3.25h.09c.69-1.41,3.64-3.75,7.66-3.75S58,20.22,58,27.22ZM24,41h7V18H24ZM27.5,6.45a4.05,4.05,0,1,0,4.1,4.05,4,4,0,0,0-4-4ZM190,3.5v41a3.5,3.5,0,0,1-3.5,3.5h-41a3.5,3.5,0,0,1-3.5-3.5V3.5A3.5,3.5,0,0,1,145.5,0h41A3.5,3.5,0,0,1,190,3.5ZM156,18h-7V41h7Zm.6-7.5a4.1,4.1,0,1,0-4.15,4.05h.05a4,4,0,0,0,4.1-3.9ZM183,27.22c0-7-4.63-9.72-8.65-9.72s-7,2.34-7.66,3.75h-.09V18H160V41h7V29c0-3.69,2.51-5.33,4.95-5.33,2,0,4.05,1.54,4.05,5.24V41h7ZM8,7H0V41H21V34H8ZM108,29.77v2H91a1.33,1.33,0,0,0,.11.43c.58,1.93,2.67,3.56,5.75,3.56A6.3,6.3,0,0,0,102,33.52l5.1,3.18a12.72,12.72,0,0,1-10.45,4.8C89.94,41.5,84,37.42,84,29.59S90,17.5,96.44,17.5,108,21.81,108,29.77ZM101,27c0-2.4-1.56-4.38-4.75-4.38-3,0-5.09,2-5.25,4.38ZM85.26,18H76.68l-7.54,9.37H69V7H62V41h7V30h.14l7.72,11h8.77L76.2,28.43ZM128,7h7V41h-6.6V38h-.09c-.88,1.52-3.24,3.49-7.4,3.49-5,0-10.91-3.63-10.91-12,0-7.53,5.1-11.95,10.82-11.95a9.55,9.55,0,0,1,7.09,3H128Zm.3,22.49a5.74,5.74,0,0,0-5.59-5.89h-.15A5.54,5.54,0,0,0,116.89,29c0,.15,0,.29,0,.44a5.61,5.61,0,0,0,5.26,5.94h.4A5.83,5.83,0,0,0,128.3,29.49Z"
                      fill="currentColor"></path>
            </svg>
            <br>{{ index.linkedin.connect }}
        </a>
    </section>
    <section class="span-feature">
        <div class="grid">
            <a id="clients" href="#clients" class="anchor" rel="bookmark" title="{{ index.clients.title }}" aria-hidden="true">{{ index.clients.title }}</a>
            <h2 class="title">{{ index.clients.title }}</h2>
            <ul class="screenreader">
                <li>{{ index.clients.siemens }}</li>
                <li>{{ index.clients.metek }}</li>
                <li>{{ index.clients.ln }}</li>
                <li>{{ index.clients.sn24 }}</li>
                <li>{{ index.clients.malteser }}</li>
                <li>{{ index.clients.paxetbonum }}</li>
                <li>{{ index.clients.dltv }}</li>
                <li>{{ index.clients.ellemenno }}</li>
            </ul>
        </div>
        <div class="clients">
            <div class="clients__client">
                <div class="clients__client__img" data-lazy-client="siemens"></div>
                <noscript><div class="clients__client__img" data-client="siemens"></div></noscript>
            </div>
            <div class="clients__client">
                <div class="clients__client__img" data-lazy-client="metek"></div>
                <noscript><div class="clients__client__img" data-client="metek"></div></noscript>
            </div>
            <div class="clients__client clients__client--pad">
                <div class="clients__client__img" data-lazy-client="ln"></div>
                <noscript><div class="clients__client__img" data-client="ln"></div></noscript>
            </div>
            <div class="clients__client">
                <div class="clients__client__img" data-lazy-client="sn24"></div>
                <noscript><div class="clients__client__img" data-client="sn24"></div></noscript>
            </div>
            <div class="clients__client">
                <div class="clients__client__img" data-lazy-client="stcarolus"></div>
                <noscript><div class="clients__client__img" data-client="stcarolus"></div></noscript>
            </div>
            <div class="clients__client">
                <div class="clients__client__img" data-lazy-client="stjohannes"></div>
                <noscript><div class="clients__client__img" data-client="stjohannes"></div></noscript>
            </div>
            <div class="clients__client">
                <div class="clients__client__img" data-lazy-client="weltladen"></div>
                <noscript><div class="clients__client__img" data-client="weltladen"></div></noscript>
            </div>
            <div class="clients__client row-span-2">
                <div class="clients__client__img" data-lazy-client="paxetbonum"></div>
                <noscript><div class="clients__client__img" data-client="paxetbonum"></div></noscript>
            </div>
            <div class="clients__client">
                <div class="clients__client__img clients__client__img-filter-light" data-lazy-client="dltv"></div>
                <noscript><div class="clients__client__img clients__client__img-filter-light" data-client="dltv"></div></noscript>
            </div>
            <div class="clients__client clients__client--pad">
                <div class="clients__client__img" data-lazy-client="ellemenno"></div>
                <noscript><div class="clients__client__img" data-client="ellemenno"></div></noscript>
            </div>
            <div class="clients__client clients__client--inquire">
                <a class="btn clients__client__link no-print" href="#" data-mt="eric">{{ index.clients.reach_out }}</a>
            </div>
        </div>
        <div class="clients-info">
            <div class="clients-info__toggle" data-script-only data-toggles="copyright-info">
                <span>{{ copyright_info }}</span>
                <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 695 695" fill="currentColor">
                    <path d="M347.222,3.472c189.721,0 343.75,154.029 343.75,343.75c0,189.721 -154.029,343.75 -343.75,343.75c-189.721,0 -343.75,-154.029 -343.75,-343.75c0,-189.721 154.029,-343.75 343.75,-343.75Zm0,62.5c-155.226,0 -281.25,126.024 -281.25,281.25c0,155.226 126.024,281.25 281.25,281.25c155.226,0 281.25,-126.024 281.25,-281.25c0,-155.226 -126.024,-281.25 -281.25,-281.25Z"></path>
                    <path d="M524.036,409.722c-25.763,72.795 -95.24,125 -176.814,125c-103.484,0 -187.5,-84.016 -187.5,-187.5c0,-103.484 84.016,-187.5 187.5,-187.5c81.574,0 151.051,52.206 176.814,125l-68.559,0c-21.626,-37.351 -62.027,-62.5 -108.255,-62.5c-68.989,0 -125,56.011 -125,125c0,68.99 56.011,125 125,125c46.228,0 86.629,-25.149 108.255,-62.5l68.559,0Z"></path>
                </svg>
            </div>
        </div>
        <div class="grid" data-toggled="copyright-info" aria-hidden="true">
            <p class="fs-1em">{{ insite_disclaimer }}</p>
        </div>
    </section>
    <section class="no-fold">
        <header>
            <a id="projects" href="#projects" class="anchor" rel="bookmark" title="{{ index.projects.title }}" aria-hidden="true">{{ index.projects.title }}</a>
            <h2>{{ index.projects.title }}</h2>
        </header>
        <article class="mt-0">
            <div class="showcase">
                <div class="showcase__panel showcase__panel--left">
                    <div class="showcase__actor">
                        <div class="showcase__card" data-tilt-x="-10" data-tilt-y="25" data-tilt-z="-3">
                            <img class="showcase__card__front" width="690" height="469" alt="" draggable="false" data-script-only src="" data-lazy-src="media/images/ln/ln-hero-lg.webp">
                            <noscript><img class="showcase__card__front" width="690" height="469" alt="LausitzNews.de Mockup" draggable="false" src="media/images/ln/ln-hero-lg.webp"></noscript>
                        </div>
                        <div class="showcase__logo">
                            <img class="showcase__logo__part" data-tilt-x="-30" data-tilt-y="15" width="250" height="250" alt="" draggable="false" data-script-only src="" data-lazy-src="media/images/ln/ln-emblem-bg.webp">
                            <noscript>
                                <img class="showcase__logo__part" width="250" height="250" alt="" draggable="false" src="media/images/ln/ln-emblem-bg.webp">
                                <img class="showcase__logo__part" width="250" height="250" alt="" draggable="false" src="media/images/ln/ln-emblem-letters.webp">
                            </noscript>
                            <img class="showcase__logo__part" data-tilt-x="-30" data-tilt-y="15" width="250" height="250" alt="" draggable="false" data-script-only src="" data-lazy-src="media/images/ln/ln-emblem-letters.webp">
                        </div>
                    </div>
                </div>
                <div class="showcase__panel showcase__panel--right">
                    <h3 class="title">Lausitz<span class="color-ln">News</span>.de</h3>
                    <p>{{ index.projects.ln.intro }}</p>
                </div>
                <div class="showcase__panel showcase__panel--link">
                    <a href="https://www.lausitznews.de" target="_blank" class="btn btn-ln" rel="noopener">{{ index.projects.ln.visit }}</a>
                </div>
            </div>
            <div>
                <p>{{ index.projects.ln.p1 }}</p>
                <p>{{ index.projects.ln.p2 }}</p>
                <p>{{ index.projects.ln.p3 }}</p>
            </div>
        </article>
        <article>
            <h3 class="title">Fast<span class="color-idp">IDP</span></h3>
            <p class="magnified">{{ index.projects.fidp.p1 }}</p>
            <p>{{ index.projects.fidp.p2 }}</p>
            <p>{{ index.projects.fidp.p3 }}</p>
            <div class="fidp-logo">
                <svg width="100%" height="100%" viewBox="0 0 2048 512" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" class="svg-base">
                    <g>
                        <path d="M562.3,413.617c-2.761,-0 -5,-2.239 -5,-5c-0,-34.96 -0,-243.108 -0,-301.117c-0,-3.978 1.58,-7.794 4.393,-10.607c2.813,-2.813 6.629,-4.393 10.607,-4.393l160.219,0c8.284,-0 15,6.716 15,15c-0,3.95 -0,8.212 -0,12.162c-0,8.284 -6.716,15 -15,15c-31.021,-0 -100.942,-0 -120.213,-0c-2.761,-0 -5,2.238 -5,5c-0,16.882 -0,71.659 -0,88.541c0,2.762 2.239,5 5,5c16.879,0 72.199,0 99.132,0c8.284,0 15,6.716 15,15c-0,3.95 -0,8.212 -0,12.162c-0,8.284 -6.716,15 -15,15c-26.933,0 -82.253,0 -99.132,0c-1.326,0 -2.598,0.527 -3.536,1.465c-0.937,0.937 -1.464,2.209 -1.464,3.535c-0,21.586 -0,106.666 -0,128.252c0,1.326 -0.527,2.598 -1.464,3.535c-0.938,0.938 -2.21,1.465 -3.536,1.465c-9.581,-0 -30.425,-0 -40.006,-0Z M820.116,419.5c-13.728,-0 -25.902,-2.86 -36.524,-8.579c-10.623,-5.72 -18.957,-13.809 -25.003,-24.268c-6.047,-10.459 -9.07,-22.715 -9.07,-36.769c-0,-25.82 11.439,-45.757 34.318,-59.811c22.18,-13.625 57.108,-23.103 104.784,-28.434c2.617,-0.293 4.557,-2.567 4.436,-5.198c-0.398,-7.683 -1.748,-14.857 -4.061,-21.522c-2.778,-8.007 -7.517,-14.462 -14.217,-19.365c-6.7,-4.903 -15.933,-7.354 -27.699,-7.354c-12.747,0 -24.922,2.451 -36.524,7.354c-6.852,2.895 -13.447,6.075 -19.785,9.54c-7.214,3.971 -16.28,1.374 -20.297,-5.814c-1.345,-2.359 -2.721,-4.821 -4.035,-7.172c-1.942,-3.475 -2.423,-7.579 -1.337,-11.409c1.085,-3.829 3.648,-7.071 7.125,-9.009c4.606,-2.539 9.455,-5.046 14.551,-7.512c10.132,-4.903 21,-8.825 32.602,-11.766c11.603,-2.942 23.778,-4.413 36.524,-4.413c19.937,0 36.279,4.004 49.026,12.011c12.746,8.008 22.225,19.611 28.434,34.809c6.21,15.197 9.315,33.419 9.315,54.663l0,139.135c0,2.761 -2.238,5 -5,5c-8.05,-0 -23.749,-0 -31.354,-0c-2.489,-0 -4.598,-1.83 -4.95,-4.293c-1.103,-7.723 -3.309,-23.161 -3.309,-23.161l-1.471,-0c-10.785,9.151 -22.551,16.995 -35.298,23.532c-12.747,6.537 -26.474,9.805 -41.181,9.805Zm15.197,-39.22c10.786,-0 20.673,-2.533 29.661,-7.599c7.345,-4.14 14.962,-9.535 22.853,-16.185c3.374,-2.847 5.32,-7.037 5.32,-11.451c0.017,-8.54 0.017,-23.501 0.017,-35.276c-0,-4.412 -1.942,-8.599 -5.31,-11.449c-3.367,-2.851 -7.818,-4.074 -12.169,-3.345c-15.79,2.58 -28.84,5.678 -39.146,9.315c-13.89,4.903 -23.859,10.867 -29.905,17.894c-6.047,7.027 -9.07,15.117 -9.07,24.268c-0,11.766 3.677,20.346 11.031,25.738c7.353,5.393 16.26,8.09 26.718,8.09Z M1069.16,419.5c-16.669,-0 -32.929,-3.187 -48.78,-9.56c-14.136,-5.683 -26.647,-12.601 -37.533,-20.753c-2.173,-1.653 -2.615,-4.745 -0.994,-6.941c4.494,-6.096 13.117,-17.773 17.662,-23.927c1.631,-2.208 4.737,-2.688 6.959,-1.076c9.455,6.831 18.912,12.467 28.368,16.908c10.786,5.066 22.715,7.599 35.789,7.599c14.381,0 25.003,-3.186 31.866,-9.56c6.864,-6.373 10.296,-13.972 10.296,-22.796c-0,-7.518 -2.615,-13.728 -7.844,-18.63c-5.23,-4.903 -11.848,-9.152 -19.856,-12.747c-8.007,-3.595 -16.423,-7.027 -25.248,-10.295c-10.785,-4.249 -21.489,-9.152 -32.111,-14.708c-10.623,-5.556 -19.447,-12.746 -26.474,-21.571c-7.027,-8.825 -10.541,-19.937 -10.541,-33.337c0,-20.264 7.681,-37.015 23.042,-50.251c15.362,-13.237 36.116,-19.856 62.263,-19.856c16.015,0 30.559,2.778 43.632,8.335c7.362,3.128 14.154,6.568 20.375,10.318c3.574,2.198 6.06,5.797 6.849,9.917c0.79,4.121 -0.19,8.384 -2.698,11.746c-1.669,2.335 -3.454,4.727 -5.149,6.999c-4.641,6.221 -13.262,7.874 -19.875,3.81c-4.567,-2.862 -9.229,-5.348 -13.964,-7.492c-8.661,-3.922 -18.058,-5.883 -28.19,-5.883c-13.4,-0 -23.287,2.941 -29.66,8.824c-6.374,5.884 -9.56,12.911 -9.56,21.081c-0,6.864 2.451,12.502 7.354,16.914c4.902,4.413 11.275,8.253 19.12,11.521c7.844,3.269 16.178,6.537 25.003,9.805c11.112,4.249 22.143,9.07 33.092,14.463c10.949,5.393 19.937,12.665 26.964,21.816c7.027,9.152 10.54,21.245 10.54,36.279c0,13.4 -3.432,25.575 -10.295,36.524c-6.864,10.949 -17.077,19.774 -30.641,26.474c-13.564,6.7 -30.151,10.05 -49.761,10.05Z M1278.5,419.5c-26.474,-0 -45.185,-7.762 -56.134,-23.287c-10.949,-15.525 -16.424,-35.707 -16.424,-60.547l0,-117.073c0,-2.761 -2.238,-5 -5,-5c-5.152,-0 -13.323,-0 -19.808,-0c-5.523,-0 -10,-4.477 -10,-10c0,-5.561 0,-12.44 0,-17.896c0,-5.268 4.087,-9.632 9.344,-9.978c7.487,-0.493 17.664,-1.162 23.435,-1.542c2.548,-0.168 4.561,-2.229 4.667,-4.781c0.398,-9.558 1.344,-32.282 1.97,-47.322c0.334,-8.035 6.945,-14.376 14.987,-14.376c4.775,-0 10.101,-0 14.921,-0c3.978,-0 7.793,1.58 10.607,4.393c2.813,2.813 4.393,6.629 4.393,10.607c-0,14.771 -0,36.485 -0,46.184c-0,1.326 0.527,2.598 1.464,3.536c0.938,0.938 2.21,1.464 3.536,1.464c10.32,0 34.147,0 47.753,0c5.522,0 10,4.477 10,10c-0,6.029 -0,13.682 -0,19.711c-0,5.523 -4.478,10 -10,10c-13.606,-0 -37.433,-0 -47.753,-0c-1.326,-0 -2.598,0.527 -3.536,1.464c-0.937,0.938 -1.464,2.21 -1.464,3.536c-0,22.948 -0,117.073 -0,117.073c-0,14.381 2.778,25.33 8.334,32.847c5.556,7.518 14.544,11.276 26.964,11.276c4.249,0 8.743,-0.653 13.482,-1.961c2.639,-0.727 5.1,-1.455 7.383,-2.183c1.325,-0.428 2.768,-0.283 3.982,0.398c1.214,0.682 2.089,1.838 2.414,3.192c1.733,7.216 4.796,19.976 6.436,26.812c0.625,2.6 -0.908,5.232 -3.478,5.972c-5.304,1.512 -11.047,3.026 -17.227,4.539c-8.007,1.961 -16.424,2.942 -25.248,2.942Z" fill="#182220" fill-rule="nonzero" class="fidp-fast"></path>
                        <path d="M1397.24,413.617c-2.761,-0 -5,-2.239 -5,-5c0,-34.96 0,-243.108 0,-301.117c0,-3.978 1.58,-7.794 4.393,-10.607c2.813,-2.813 6.629,-4.393 10.607,-4.393l20.006,0c3.978,-0 7.794,1.58 10.607,4.393c2.813,2.813 4.393,6.629 4.393,10.607l0,301.117c0,2.761 -2.239,5 -5,5c-9.581,-0 -30.425,-0 -40.006,-0Z M1518.92,413.617c-1.326,-0 -2.598,-0.527 -3.536,-1.465c-0.938,-0.937 -1.464,-2.209 -1.464,-3.535c-0,-34.96 -0,-243.108 -0,-301.117c-0,-3.978 1.58,-7.794 4.393,-10.607c2.813,-2.813 6.628,-4.393 10.607,-4.393c23.996,0 68.343,0 68.343,0c33.011,0 61.037,5.965 84.079,17.894c23.042,11.93 40.527,29.742 52.457,53.438c11.93,23.696 17.894,53.029 17.894,88.001c0,34.645 -5.964,64.06 -17.894,88.246c-11.93,24.186 -29.252,42.488 -51.967,54.908c-22.715,12.42 -50.088,18.63 -82.118,18.63l-80.794,-0Zm45.006,-45.691c-0,1.326 0.526,2.598 1.464,3.535c0.938,0.938 2.21,1.465 3.536,1.465c8.512,-0 24.905,-0 24.905,-0c23.206,-0 42.652,-4.576 58.341,-13.727c15.688,-9.152 27.617,-22.715 35.788,-40.692c8.171,-17.976 12.257,-40.2 12.257,-66.674c-0,-26.801 -4.086,-48.944 -12.257,-66.43c-8.171,-17.485 -20.1,-30.559 -35.788,-39.22c-15.689,-8.661 -35.135,-12.992 -58.341,-12.992l-24.905,0c-1.326,0 -2.598,0.527 -3.536,1.465c-0.938,0.937 -1.464,2.209 -1.464,3.535c-0,31.174 -0,198.561 -0,229.735Z M1808.37,413.617c-2.761,-0 -5,-2.239 -5,-5c-0,-34.96 -0,-243.108 -0,-301.117c-0,-3.978 1.58,-7.794 4.393,-10.607c2.813,-2.813 6.629,-4.393 10.607,-4.393l82.07,0c23.86,0 45.022,3.023 63.488,9.07c18.467,6.046 32.929,16.178 43.388,30.396c10.459,14.217 15.688,33.419 15.688,57.604c0,23.206 -5.148,42.326 -15.443,57.36c-10.295,15.035 -24.594,26.229 -42.897,33.583c-18.303,7.354 -39.057,11.03 -62.263,11.03l-44.025,0c-2.761,0 -5,2.239 -5,5l-0,112.074c-0,2.761 -2.239,5 -5,5c-9.581,-0 -30.425,-0 -40.006,-0Zm45.006,-167.274c-0,1.326 0.527,2.597 1.464,3.535c0.938,0.938 2.21,1.465 3.536,1.465l39.123,-0c25.82,-0 44.94,-5.066 57.36,-15.198c12.42,-10.132 18.629,-25.657 18.629,-46.575c0,-21.571 -6.536,-36.442 -19.61,-44.613c-13.073,-8.171 -32.52,-12.256 -58.34,-12.256l-37.162,-0c-2.761,-0 -5,2.238 -5,5l-0,108.642Z" fill="#15a2c2" fill-rule="nonzero"></path>
                    </g>
                    <g>
                        <path d="M213.999,463.243c28.949,-20.85 46.897,-34.296 64.467,-54.667c8.612,15.217 23.231,30.898 48.042,40.634c10.242,4.019 21.819,-1.034 25.838,-11.275c4.019,-10.242 -1.033,-21.819 -11.275,-25.838c-34.672,-13.605 -35.078,-47.06 -35.078,-47.06c0.047,-8.826 -5.715,-16.632 -14.163,-19.187c-8.448,-2.555 -17.571,0.75 -22.423,8.123c-24.738,37.594 -41.697,50.264 -78.708,76.92c-8.927,6.43 -10.955,18.898 -4.525,27.825c6.429,8.927 18.897,10.955 27.825,4.525Z M50.938,220.953c38.858,-12.265 60.253,-38.436 81.938,-66.345c17.201,-22.139 34.687,-45.57 68.379,-58.43c83.647,-31.929 145.448,11.697 176.278,58.311c35.485,53.653 36.24,127.728 -25.739,205.133c-6.877,8.588 -5.487,21.144 3.101,28.02c8.588,6.877 21.143,5.487 28.02,-3.101c76.021,-94.942 71.396,-186.236 27.87,-252.045c-39.108,-59.132 -117.638,-114.067 -223.747,-73.564c-41.724,15.926 -64.342,43.799 -85.644,71.215c-16.82,21.647 -32.316,43.274 -62.457,52.788c-10.491,3.311 -16.32,14.518 -13.009,25.009c3.312,10.492 14.519,16.321 25.01,13.009Z M217.146,328.794c0.171,-2.064 -0.949,-4.02 -2.815,-4.918c-1.867,-0.898 -4.094,-0.552 -5.6,0.869c-35.886,33.96 -66.387,55.283 -93.949,70.124c-9.686,5.216 -13.316,17.315 -8.1,27.002c5.216,9.686 17.315,13.316 27.002,8.1c23.576,-12.695 49.214,-29.675 78.119,-54.354c1.003,-0.857 1.627,-2.074 1.736,-3.389c0.564,-6.783 2.402,-28.924 3.607,-43.434Zm-80.825,-35.353c-1.086,-0 -2.142,0.353 -3.009,1.007c-34.097,25.633 -71.176,34.566 -71.176,34.566c-10.698,2.567 -17.3,13.337 -14.732,24.035c2.567,10.698 13.336,17.299 24.034,14.732c0,0 56.373,-13.482 100.82,-53.836c4.206,-3.818 8.295,-7.881 12.245,-12.08c1.366,-1.452 1.739,-3.576 0.948,-5.406c-0.791,-1.83 -2.593,-3.015 -4.587,-3.015c-14.341,-0.003 -38.069,-0.003 -44.543,-0.003Z M280.995,115.811c-1.41,-0.323 -2.891,-0.018 -4.059,0.836c-1.168,0.854 -1.908,2.173 -2.027,3.615c-0.686,8.137 -1.92,22.996 -2.519,30.213c-0.197,2.375 1.309,4.558 3.598,5.218c20.133,5.954 37.621,20.26 48.191,39.286c20.127,36.225 14.827,64.931 -17.435,111.478c-6.268,9.042 -4.015,21.472 5.027,27.739c9.042,6.267 21.472,4.014 27.739,-5.028c26.052,-37.587 37.197,-67.036 36.851,-94.813c-0.243,-19.408 -5.977,-38.301 -17.332,-58.739c-16.796,-30.231 -45.462,-52.096 -78.034,-59.805Zm-53.447,9.235c0.988,-1.783 0.794,-3.988 -0.491,-5.571c-1.284,-1.584 -3.401,-2.229 -5.35,-1.631c-22.159,6.893 -44.124,21.073 -63.555,44.576c-51.188,61.917 -64.395,84.524 -118.539,99.534c-10.602,2.939 -16.824,13.933 -13.885,24.534c2.939,10.602 13.933,16.824 24.535,13.885c62.459,-17.315 79.567,-41.125 138.616,-112.55c2.994,-3.622 6.063,-6.945 9.191,-9.978c0.356,-0.344 0.658,-0.739 0.898,-1.172c2.687,-4.852 19.599,-35.404 28.58,-51.627Z" fill="#586260"></path>
                        <path d="M250.244,149.517c0.195,-2.349 -1.277,-4.515 -3.533,-5.198c-2.256,-0.684 -4.683,0.301 -5.824,2.363c-18.143,32.775 -52.967,95.682 -64.872,117.188c-0.857,1.549 -0.832,3.436 0.067,4.961c0.899,1.525 2.537,2.461 4.307,2.461c15.009,-0 45.836,-0 58.325,-0c1.398,-0 2.732,0.585 3.678,1.614c0.947,1.028 1.42,2.406 1.304,3.8c-1.061,12.783 -3.775,45.46 -5.648,68.026c-0.195,2.35 1.277,4.516 3.533,5.199c2.255,0.684 4.682,-0.301 5.824,-2.363c18.143,-32.775 52.967,-95.682 64.872,-117.188c0.857,-1.549 0.832,-3.436 -0.067,-4.961c-0.899,-1.525 -2.537,-2.461 -4.308,-2.461c-15.008,0 -45.836,0 -58.324,0c-1.398,0 -2.732,-0.585 -3.679,-1.614c-0.946,-1.028 -1.419,-2.406 -1.304,-3.8c1.062,-12.783 3.775,-45.46 5.649,-68.027Z" fill="#15a2c2" fill-rule="nonzero"></path>
                    </g>
                </svg>
            </div>
            <p>{{ index.projects.fidp.p4 }}</p>
            <p>{{ index.projects.fidp.p5 }}</p>
            <div><span class="btn btn--disabled" inert>{{ index.projects.fidp.btn }}</span></div>
        </article>
        <article>
            <h3 class="title">eric.js</h3>
            <p class="magnified">{{ index.projects.ericjs.p1 }}</p>
            <p>{{ index.projects.ericjs.p2 }}</p>
            <p>{{ index.projects.ericjs.p3 }}</p>
            <div>
                <a href="https://github.com/ericges/eric.js" class="btn" target="_blank" rel="noopener" aria-description="{{ index.projects.ericjs.on_github }}">
                    <svg viewBox="0 0 16 16" class="svg-icon svg-icon--md-fs" fill="currentColor" height="22" width="22">
                        <title>GitHub</title>
                        <path d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z"></path>
                    </svg>
                    <span aria-hidden="true">&nbsp;GitHub</span>
                </a>
                <a href="https://www.npmjs.com/package/eric.js" class="btn" target="_blank" rel="noopener" aria-description="{{ index.projects.ericjs.on_npm }}">
                    <svg viewBox="0 0 780 250" width="38" height="22" class="svg-icon va-middle" fill="currentColor">
                        <title>NPM (Node Package Manager)</title>
                        <path d="M240,250h100v-50h100V0H240V250z M340,50h50v100h-50V50z M480,0v200h100V50h50v150h50V50h50v150h50V0H480z M0,200h100V50h50v150h50V0H0V200z"></path>
                    </svg>
                </a>
            </div>
            <ul class="screenreader">
                <li><a href="https://github.com/ericges/eric.js">{{ index.projects.ericjs.on_github }}</a></li>
                <li><a href="https://www.npmjs.com/package/eric.js">{{ index.projects.ericjs.on_npm }}</a></li>
            </ul>
        </article>
        <article>
            <h3 class="title">ges.dev</h3>
            <p>{{ index.projects.gesdev.p1 }}</p>
            <p>{{ index.projects.gesdev.p2 }}</p>
            <div>
                <a href="https://gitlab.com/eges/ges.dev" class="btn" target="_blank" rel="noopener">
                    <svg viewBox="0 0 25 24" fill="currentColor" class="svg-icon" height="22" width="22" aria-description="{{ index.projects.gesdev.on_gitlab }}">
                        <title>GitLab</title>
                        <path d="m24.507 9.5-.034-.09L21.082.562a.896.896 0 0 0-1.694.091l-2.29 7.01H7.825L5.535.653a.898.898 0 0 0-1.694-.09L.451 9.411.416 9.5a6.297 6.297 0 0 0 2.09 7.278l.012.01.03.022 5.16 3.867 2.56 1.935 1.554 1.176a1.051 1.051 0 0 0 1.268 0l1.555-1.176 2.56-1.935 5.197-3.89.014-.01A6.297 6.297 0 0 0 24.507 9.5Z"></path>
                    </svg>
                    <span aria-hidden="true">&nbsp;GitLab</span>
                </a>
            </div>
            <ul class="screenreader">
                <li><a href="https://gitlab.com/eges/ges.dev">{{ index.projects.gesdev.on_gitlab }}</a></li>
            </ul>
        </article>
    </section>
    <section>
        <div class="hmu">
            <a id="contact" href="#contact" class="anchor" rel="bookmark" title="{{ hit_me_up.anchor }}" aria-hidden="true">{{ hit_me_up.anchor }}</a>
            <h2 class="title">Hit Me Up!</h2>
            <p>
                {{ hit_me_up.catch }}
                <span class="screenreader"><br>{{ hit_me_up.aria_sendmail }}<span aria-label="{{ hit_me_up.aria_phonetic }}"><span aria-hidden="true"> {{ hit_me_up.aria_alt }}</span>.</span></span>
            </p>
            <div class="hmu__sendmail" data-script-only>
                <a href="#" data-mt="eric" class="btn btn--bold" aria-description="{{ hit_me_up.sendmail }}">{{ hit_me_up.sendmail }}</a>
            </div>
            <noscript><span aria-hidden="true">{{ enable_js_email }}</span></noscript>
        </div>
    </section>
    <section>
        <h2 class="title">{{ index.teaser.title }}</h2>
        <p>{{ index.teaser.early_bird }}</p>
        <p>{{ index.teaser.p1 }}</p>
        <p><strong>{{ index.teaser.come_back }}</strong></p>
    </section>
{% endblock %}
