{% extends "layouts/default.html" %}

{% set title = privacy.title %}
{% set crumb = privacy.crumb %}
{% set description = privacy.description %}

{%- block meta %}
    <meta name="robots" content="noindex, nofollow">
    <meta property="og:type" content="article">
    <meta property="article:published_time" content="2023-05-19T00:00+02:00">
    <meta property="article:modified_time" content="{{ compiletime }}">
    <meta property="article:author" content="https://ges.dev/{{ lang }}/">
    <meta property="article:publisher" content="https://ges.dev/">
    <meta property="article:section" content="{{ privacy.headline }}">
{%- endblock %}

{#
{%- block script %}
    <script src="js/lib/Hyphenopoly-5.3.0/Hyphenopoly_Loader.js"></script>
    <script>
        Hyphenopoly.config({
            require: {
                'de': 'Silbentrennungsalgorithmus',
                'en': 'Supercalifragilisticexpialidocious'
            },
            setup: {
                selectors: {
                    ".legal-container": {}
                }
            }
        })
    </script>
    <style>
        article p {
            hyphens: auto;
            -ms-hyphens: auto;
            -moz-hyphens: auto;
            -webkit-hyphens: auto;
        }
    </style>
{%- endblock %}
#}

{% block main %}
    <article class="below-header legal-container">
        <h1>{{ privacy.headline }}</h1>
        <article>
            <h2>{{ privacy.preamble_title }}</h2>
            <p class="magnified">{{ privacy.preamble }}</p>
            <p>{{ privacy.language_legal }}</p>
        </article>
        <article>
            <h2>1 {{ privacy.resp_title }}</h2>
            <p>{{ privacy.resp }}</p>
            <address class="address-grid">
                <div>
                    {% include "components/address.html" %}
                </div>
                <div class="labeled-lines">
                    <span id="resp__tel">{{ tel }}:</span><a href="#" rel="{{ anorel }}" aria-labelledby="resp__tel" data-tt="{{ env['SUBJECT_PHONE_NUMBER'] | reverse | trim('+') }}" data-discombobulate="{{ env['SUBJECT_PHONE_NUMBER'] | b64encode }}" data-script-only>{{ enable_js }}</a>
                    <span id="resp__email">{{ email }}:</span><a href="#" data-mt="eric" rel="{{ anorel }}" aria-labelledby="resp__email" data-discombobulate="ZTxzcGFuIGNsYXNzPSJtaXJyb3IiPmlyPC9zcGFuPmM8c3BhbiBjbGFzcz0ibWF0Ij48L3NwYW4+PHNwYW4gY2xhc3M9Im1pcnJvciI+ZWc8L3NwYW4+czxzcGFuPi48L3NwYW4+PHNwYW4gY2xhc3M9Im1pcnJvciI+ZWQ8L3NwYW4+dg">{{ enable_js }}</a>
                    <span id="resp__web">Website:</span><a href="https://ges.dev" aria-labelledby="resp__web">ges.dev</a>
                </div>
            </address>
        </article>
        <article>
            <h2>2 {{ privacy.general_title }}</h2>
            <article>
                <h3>2.1 {{ privacy.scope_title }}</h3>
                <p>{{ privacy.scope }}</p>
            </article>
            <article>
                <h3>2.3 {{ privacy.basis_title }}</h3>
                <p>{{ privacy.basis_1 }}</p>
                <p>{{ privacy.basis_2 }}</p>
                <p>{{ privacy.basis_3 }}</p>
                <p>{{ privacy.basis_4 }}</p>
                <p>{{ privacy.basis_5 }}</p>
            </article>
            <article>
                <h3>2.4 {{ privacy.rights_title }}</h3>
                <p>{{ privacy.rights }}</p>
                <ul>
                    <li>{{ privacy.right_information }}</li>
                    <li>{{ privacy.right_rectification }}</li>
                    <li>{{ privacy.right_deletion }}</li>
                    <li>{{ privacy.right_restriction }}</li>
                    <li>{{ privacy.right_portability }}</li>
                    <li>{{ privacy.right_objection }}</li>
                </ul>
            </article>
            <article>
                <h3>2.5 {{ privacy.storage_title }}</h3>
                <p>{{ privacy.storage }}</p>
            </article>
        </article>
        <article>
            <h2>3 {{ privacy.providing_website_title }}</h2>
            <article>
                <h3>3.1 {{ privacy.website_basis_title }}</h3>
                <p>{{ privacy.website_basis_1 }}</p>
                <p>{{ privacy.website_basis_2 }}</p>
            </article>
            <article>
                <h3>3.2 {{ privacy.encryption_title }}</h3>
                <p>{{ privacy.encryption }}</p>
            </article>
            <article>
                <h3>3.3 {{ privacy.server_logs_title }}</h3>
                <p>{{ privacy.server_logs_1 }}</p>
                <p>{{ privacy.server_logs_2 }}</p>
                <p>{{ privacy.server_logs_3 }}</p>
                <p>{{ privacy.server_logs_4 }}</p>
            </article>
            <article>
                <h3>3.4 Cookies</h3>
                <p>{{ privacy.cookies_general }}</p>
                <p>{{ privacy.cookies_cloudflare }}</p>
            </article>
            <article>
                <h3>3.5 Cloudflare</h3>
                <p>{{ privacy.cloudflare_1 }}</p>
                <p>{{ privacy.cloudflare_2 }}</p>
                <p>{{ privacy.cloudflare_3 }}</p>
                <p>{{ privacy.cloudflare_4 }}</p>
                <p>{{ privacy.cloudflare_5 }}</p>
                <p>{{ privacy.cloudflare_6 }}</p>
            </article>
        </article>
        <article>
            <h2>4 {{ privacy.email_title }}</h2>
            <p>{{ privacy.email_1 }}</p>
            <p>{{ privacy.email_2 }}</p>
        </article>
        <article>
            <h2>5 {{ privacy.updates_title }}</h2>
            <p>{{ privacy.updates_1 }}</p>
            <p>{{ privacy.updates_2 }}</p>
            <p>{{ privacy.updates_3 }}</p>
        </article>
    </article>
{% endblock %}
