<!DOCTYPE html>
<html lang="{{ lang }}">
<head prefix="og: https://ogp.me/ns# profile: https://ogp.me/ns/profile# article: https://ogp.me/ns/article#">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="googlebot" content="notranslate">
    <meta name="color-scheme" content="light dark">
    <meta name="theme-color" content="#000000">
    <meta name="author" content="Eric Gesemann">
    <meta name="publisher" content="Eric Gesemann">
    <meta name="copyright" content="Eric Gesemann">
    <meta name="language" content="{{ lang }}">
    <meta name="domain" content="ges.dev">
    {%- block meta %}
    {%- endblock %}
    <meta property="og:locale" content="{{ locale }}">
    <meta property="og:locale:alternate" content="{{ locale_alternate }}">
    <meta property="og:url" content="https://ges.dev/{{ lang }}/{{ page }}">
    <meta property="og:image" content="https://ges.dev/{{ "media/images/cover.jpg"|mix }}">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:alt" content="{{ og_image_alt }}">
    <meta property="og:image:width" content="2400">
    <meta property="og:image:height" content="1260">
    <meta property="og:site_name" content="GES.dev">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:updated_time" content="{{ compiletime }}">
    <title>{{ title }}</title>
    <base href="{{ base }}">
    <link rel="icon" type="image/png" href="{{ "media/favicon/favicon-blank-512.png"|mix }}" sizes="512x512">
    <link rel="icon" type="image/png" href="{{ "media/favicon/favicon-blank-192.png"|mix }}" sizes="192x192">
    <link rel="icon" type="image/png" href="{{ "media/favicon/favicon-blank-180.png"|mix }}" sizes="180x180">
    <link rel="icon" type="image/png" href="{{ "media/favicon/favicon-blank-128.png"|mix }}" sizes="128x128">
    <link rel="icon" type="image/png" href="{{ "media/favicon/favicon-blank-64.png"|mix }}" sizes="64x64">
    <link rel="icon" type="image/png" href="{{ "media/favicon/favicon-blank-32.png"|mix }}" sizes="32x32">
    <link rel="icon" type="text/svg+xml" href="{{ "media/favicon/favicon-blank.svg"|mix }}" sizes="any">
    <link rel="apple-touch-icon" type="image/png" href="{{ "media/favicon/favicon-masked-180.png"|mix }}">
    <link rel="manifest" type="application/json" href="{{ (lang ~ "/manifest.json")|mix_time }}">
    <link rel="canonical" href="https://ges.dev/{{ lang }}/{{ page }}">
    <link rel="alternate" href="https://ges.dev/en/{{ page }}" hreflang="en">
    <link rel="alternate" href="https://ges.dev/de/{{ page }}" hreflang="de">
    <link rel="author" href="https://ges.dev/en/" hreflang="en">
    <link rel="author" href="https://ges.dev/de/" hreflang="de">
    <link rel="stylesheet" type="text/css" href="{{ "styles/base.css"|mix }}" media="all">
    <link rel="stylesheet" type="text/css" href="{{ "styles/medium.css"|mix }}" media="(min-width: 620px)">
    <link rel="stylesheet" type="text/css" href="{{ "styles/wide.css"|mix }}" media="(min-width: 890px)">
    <noscript><style>[data-script-only]{display:none!important}</style></noscript>
    {#-
    <!-- [https://contrast-grid.eightshapes.com/?version=1.1.0&background-colors=&foreground-colors=%23FFFFFF%2C%20White%0D%0A%23f3fff8%2C%20Light%0D%0A%23D4F1FA%2C%20Schimmel%0D%0A%23bbbbbb%2C%20Dust%0D%0A%23555454%2C%20Dark%0D%0A%23131517%2C%20Black%0D%0A%2350fa7b%2C%20Erin%0D%0A%2330BA53%2C%20Green%0D%0A%238be9fe%2C%20Blue%0D%0A%231296be%2C%20Cyan%0D%0A%230e7d9e%2C%20Dark%20Cyan%0D%0A%23bd93f9%2C%20Purple%0D%0A%23be1240%2C%20Danger%0D%0A%2315A2C2%2C%20Brand%20IDP%0D%0A%23ff9900%2C%20Brand%20LN&es-color-form__tile-size=regular&es-color-form__show-contrast=aaa&es-color-form__show-contrast=aa&es-color-form__show-contrast=aa18] -->
    <link rel="stylesheet" type="text/css" href="{{ mix styles/print.css }}" media="print">
    <!-- Options to configure Theming. I will make this its own npm module. -->
    <script type="application/json" id="farbschema-x">
        {
            "auxiliary": {
            "YELLOW": "yellow",
            "GREEN": "green"
        },
            "defaultDark": "green",
            "defaultLight": "yellow"
        }
    </script>
    <script type="text/javascript">
        window.FARBSCHEMA = (function () {
            class Aux {
                static BLUE = "blue";
                static RED = "red";
            }
            return {
                auxiliary: Aux,
                defaultDark: Aux.BLUE,
                defaultLight: Aux.RED
            }
        })();
    </script>
    <theme-switch cycle></theme-switch>
    <script type="application/json" id="farbschema">{"HTMLColorAttribute":true}</script>
    #}
    <script>document.documentElement.setAttribute("data-theme",localStorage.getItem("theme")||(window.matchMedia?.("(prefers-color-scheme: dark)").matches?"dark":"light"))</script>
    <script src="{{ "js/theme.js"|mix }}" defer></script>
    <script src="{{ "js/app.js"|mix }}" defer></script>
    {%- block script %}
    {%- endblock %}
</head>
<body>
    <header class="page-header">
        <div class="page-header__blur"></div>
        <div class="grid grid--no-pad">
            <div class="span-feature pad-inline page-header__content">
                <code class="page-title-flex" aria-label="Eric's Website">
                    <a href="{{ lang }}/" data-mt="eric" data-discombobulate="PHNwYW4gY2xhc3M9Imh0LWxlZnQiPmU8c3BhbiBjbGFzcz0ibWlycm9yIj5pcjwvc3Bhbj5jPC9zcGFuPjxzcGFuIGNsYXNzPSJodC1jaGFyIG1hdCI+PC9zcGFuPjxzcGFuIGNsYXNzPSJodC1yaWdodCI+PHNwYW4gY2xhc3M9Im1pcnJvciI+ZWc8L3NwYW4+czxzcGFuPi48L3NwYW4+PHNwYW4gY2xhc3M9Im1pcnJvciI+ZWQ8L3NwYW4+djwvc3Bhbj4"><span class="color-erin">ges.dev</span></a><span class="ht"><span class="ht-char">:</span><a href="{{ lang }}/" class="color-cyan"><span class="crumb">{{ crumb }}</span></a><span class="ht-char">&dollar; {{ prompt }}</span></span>
                </code>
                <nav>
                    <div class="toggler lang-{{ lang }}" id="lang">
                        <a href="en/{{ page }}" class="toggler-opt"><abbr title="{{ english }}">EN</abbr></a><div class="toggler-indicator"></div><a href="de/{{ page }}" class="toggler-opt"><abbr title="{{ german }}">DE</abbr></a>
                    </div>
                    <div class="theme-toggler" data-script-only>
                        <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" fill="#bbbbbb"><path data-theme-next d="M256,23.611c128.259,-0 232.389,104.13 232.389,232.389c0,128.259 -104.13,232.389 -232.389,232.389c-128.259,0 -232.389,-104.13 -232.389,-232.389c-0,-128.259 104.13,-232.389 232.389,-232.389Zm19.997,35.191c-5.101,-0.521 -10.183,1.143 -13.989,4.579c-3.805,3.436 -5.977,8.324 -5.977,13.451c-0.031,66.973 -0.031,291.363 -0.031,358.336c-0,5.136 2.175,10.032 5.987,13.474c3.812,3.443 8.904,5.109 14.013,4.587c100.009,-10.07 178.196,-94.591 178.196,-197.229c0,-102.638 -78.187,-187.159 -178.199,-197.198Z"></path></svg>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <main class="page-content grid grid--gap">
        {% block main %}
        {% endblock %}
    </main>
    <footer class="page-footer grid">
        <div class="page-footer__content">
            <div>
                <span class="no-break">Copyright &copy; {{ compileyear }},</span>
                <span class="no-break">Eric Gesemann.</span>
                <span class="no-break">{{ rights_reserved }}</span>
            </div>
            <div class="page-footer__links">
                <a href="{{ lang }}/imprint" rel="nofollow noindex">{{ imprint.alias }}</a>
                <a href="{{ lang }}/privacy" rel="nofollow noindex">{{ privacy.alias }}</a>
            </div>
        </div>
    </footer>
</body>
</html>