:root {
    /*--fs-p: var(--step-0);*/
}

.page-header__content {
    padding-block: var(--padding-block-closest);
}

.svg-icon {
    height: 1.1em;
}

.below-header {
    margin-top: var(--padding-block-distant);
}

@media screen {
    .toggler-indicator	{ display: inline-block; }
    .toggler-opt		{ display: inline-block; }
}

.legal-container ul {
    padding: 0 1.25rem;
}

.address-grid {
    grid-template-columns: repeat(2, 1fr);
}

.intro-section {
    padding: 6rem 0 0;
    margin-bottom: calc(var(--padding-block-distant) * -1);
}

.intro-container {
    /*padding: 6rem 0;*/
    margin-block: 6rem;
    padding-block: var(--padding-block-distant);
}

.intro-greeting {
    font-size: 4.5vw;
}

.intro-name {
    text-transform: lowercase;
    font-size: max(3.75rem, 18vw);
    line-height: 1em;
}

.intro-sname {
    white-space: normal;
    hyphens: manual;
}

.intro-heading {
    text-align: left;
}

.intro-img {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    width: auto;
    max-width: 50%;
    z-index: 40;
    opacity: 1;
}

.intro-dot::after {
    content: ".";
    font-size: 1em;
    line-height: 0;
    color: var(--c-blue);
}

.intro-title {
    text-align: left;
}

.intro-teaser {
    position: relative;
    display: inline-block;
    width: 455px;
    max-width: none;
    margin: 2.75rem 0 0;
    font-size: 1.15em;
    line-height: 1.5em;
    word-break: break-word;
    hyphens: auto;
    transform: translateY(0);
    transition: transform 20ms linear;
    z-index: 50;
    text-align: left;
}

.clients {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    padding: var(--padding-inline);
    gap: calc(var(--padding-inline) / 2);
    border: 1px solid var(--woodsmoke-100); /*2px solid #efefef;*/
    background: white;
}

[data-theme="dark"] .clients {
    border-color: #242424;
    background: rgba(240, 250, 255, .08);
}

.clients__client {
    padding: 1.25rem;
}

.clients__client--pad {
    padding: 1.25rem max(.625rem, 8%);
}

.clients__client__link {
    font-size: 1.1em;
    line-height: 1.5;
}

.clients-info__toggle {
    top: -2.46875rem;
}

@media (min-width: 720px) {
    .showcase {
        grid-template-columns: 2fr 3fr;
        /*row-gap: calc(.25 * var(--cs-gap));;*/
    }

    /*noinspection ALL*/
    .showcase__actor {
        margin: 0;
        margin-left: calc((var(--_breakout-side-max-width) + var(--_feature-side-max-width) - var(--padding-inline)) * -1);
    }

    .showcase__panel--right {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        margin-top: 0;
    }

    .showcase__panel--link {
        margin: 1.75rem 0 .625rem;
        white-space: nowrap;
    }
}
