:root {
    --fs-p: 1em;
}

.no-print {
    display: none !important;
}

.screenreader {
    display: none;
}

.clients {
    border: none !important;
}

.clients__client__img {
    filter: none !important;
}

[data-client] {
    print-color-adjust: exact;
}

.progress-card .title {
    color: var(--primary);
}

.theme-toggler {
    display: none;
}

.page-header {
    position: relative;
    text-shadow: none !important;
    border: none !important;
}

.below-header {
    margin-top: 0 !important;
}

.intro-section {
    padding: 10rem 0 !important;
    min-height: auto !important;
}

.intro-container {
    filter: none !important;
}

.page-footer {
    position: relative;
}

.page-footer__content,
.page-footer__content span {
    color: #888888;
    print-color-adjust: exact;
}

.page-footer__links {
    display: none;
}