body {
    background: var(--body-bg-wide);
}

.address-grid {
    grid-template-columns: 1fr 2fr;
}

.intro-greeting {
    /*font-size: max(1.66em, min(1.9em, 3.8vh));*/
    font-size: clamp(1.66em, 3.8vh, 1.9em);
    margin-bottom: 2.3rem;
    letter-spacing: 1px;
    font-family: var(--font-mono);
}

.intro-name {
    /*font-size: max(14rem, min(16rem, 20vh));*/
    font-size: clamp(5rem, 16vh, 10.1rem);
    line-height: 1em;
}

.intro-heading {
    /*width: 61.8%;*/
    width: 78%;
}

.intro-img {
    position: absolute;
    top: 0;
    right: 0;
    max-width: none;
    height: 118%;
    opacity: 1;
}

.showcase {
    /*row-gap: calc(.25 * var(--cs-gap));*/
}

.showcase__panel--left {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.showcase__panel--right {
    grid-column: auto;
    grid-row: auto;
}

.showcase p:last-child {
    margin-bottom: 0;
}